*{
  box-sizing: border-box;
 }

.rating {
	display: flex;
	margin-left: auto;
    margin-right: auto;
}

.rating-area {
	display: flex;
	flex-direction: row-reverse;
	margin-left: auto;
    margin-right: auto;
}    
		
.rating-item {
		color: #54D1E8;
		cursor: pointer;
		}

.rating-item .active, .rating-item .active ~ *, .rating-item:hover, .rating-item:hover ~ * {
	 	color: #FF5FA6;
}

